:root {
    --height-H-F: 20vh;

    --color: grey;
    --background-color: rgba(0, 0, 255, 0.1);
    --border: 1px solid black;
    --border-2: 1px solid gray;
    --border-3: 1px solid white;
    --border-4: 1px solid red;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // border: var(--border-4);
    color: black;
    background-color: var(--background-color);
}
a {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
    >#content {
        height: calc(100vh - 1.4 * var(--height-H-F));
        .carousel {    
            height: calc(100vh - 1.4 * var(--height-H-F));
            overflow-x: hidden;
            width: 100vw;
            display: flex;
            flex-flow: row;

            >.carousel-control {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 24px;
                cursor: pointer;
            }
            >.carousel-control.prev {
                left: 10px;
            }
            >.carousel-control.next {
                right: 10px;
            }
            >.slide {
                position: relative;
                flex: 0 0 100%;
                height: 100%;
                transition: transform 0.5s ease;
                >.slide-content{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    >header,>footer {
        height: var(--height-H-F);
    }
    >header {
        display: flex;
        flex-flow: row nowrap;
        >* {
            height: 100%;
        }
        >#logo {
            width: var(--height-H-F);
            >a{
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
        >.right{
            width:calc(100vw - var(--height-H-F));
            >#portfolio {
                text-align: right;
                width: 100%;
                height: 75%;
                display: flex;
                flex-flow: row-reverse;
                align-items: center;
            }
            >nav {
                height: 25%;
                display: flex;
                >a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    > footer {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:1500px) {
    *{
        border: var(--border);
        color: black;
    }
    body{
        background-color: white;
        >#content {
        }
        >header,>footer {
        }
        >header {
            >* {
            }
            >#logo {
                
            }
            >.right{
                >#portfolio {
                }
                >nav {
                }
            }
        }
        footer {
        }
    }
}
@media only screen and (max-width:1000px) {
    *{
        border: var(--border-2);
        color: white;
    }
    body{
        background-color: grey;
        >#content {
        }
        >header,>footer {
        }
        >header {
            >* {
            }
            >#logo {
                
            }
            >.right{
                >#portfolio {
                }
                >nav {
                }
            }
        }
        footer {
        }
    }
}
@media only screen and (max-width:500px) {
    *{
        border: var(--border-3);
        color: white;
    }
    body{
        background-color: black;
        >#content {
        }
        >header,>footer {
        }
        >header {
            >* {
            }
            >#logo {
                
            }
            >.right{
                >#portfolio {
                }
                >nav {
                }
            }
        }
        footer {
        }
    }
}

// @media only screen and (max-width:500px) {
//     *{
//     }
//     body{
//         >#content {
//         }
//         >header,>footer {
//         }
//         >header {
//             >* {
//             }
//             >#logo {
                
//             }
//             >.right{
//                 >#portfolio {
//                 }
//                 >nav {
//                 }
//             }
//         }
//         footer {
//         }
//     }
// }